.dashboard-license-container {
  @mixin x-scroll($s-radius, $s-height) {
    &::-webkit-scrollbar {
      height: $s-height;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $secondaryGray !important;
      border-radius: $s-radius;
    }
    &::-webkit-scrollbar-track {
      background-color: $white;
    }
  }
  // ==================== AssignEmployeeDialogBox.tsx of Dashboard License ===================
  .dialog-title-license {
    text-align: center;
    margin-top: 1.875rem;
    font-weight: $font-weight-bold;
  }
  .btn-submit-license {
    height: 2.5rem;
    width: 6.25rem;
    margin-right: 2.1875rem;
    margin-bottom: 2.1875rem;
    margin-top: 0.9375rem;
  }
  .select-drop svg{
    color: $primaryBlue;
  }
  .select-width
  {
    margin-left: 0.9375rem;
  }
  .select-align
  {
    margin-left: 1.975rem;
  }
  .CloseDialog {
    .close-assign-lic {
      float: right;
      margin-top: 0.625rem;
      margin-right: 0.9375rem;
    }
  }

  .BottomLine-AssignEmp-DialogBox {
    width: 94%;
    height: 1px;
    background-color: $primaryBlue;
    margin-bottom: 0.9375rem;
    margin-left: 0.9375rem;
  }

  // ==================== AssignLicenseDialogBox.tsx of Dashboard License ===================
  .dialog-title {
    text-align: center;
    margin-top: 1.875rem;
    font-weight: $font-weight-bold;
    font-family: $default-font-name;
    font-size: 1.25rem;
    color: $primaryDark;
  }

  .BottomLine-AssignLicense-DialogBox {
    width: 100%;
    height: 1px;
    background-color: $primaryBlue;
    margin-bottom: 0.9375rem;
  }
  // ==================== AuditReportDialogBox.tsx of Dashboard License ===================
  .iconStyle-auditReport {
    width: 2.5rem;
    height: 2.1875rem;
    font-size: 1.875rem;
  }

  .ReportTitle {
    text-align: left;
    font-weight: $font-weight-bold;
    font-size: 2.1875rem;
    font-family: $default-font-name;
    letter-spacing: 0rem;
    color: $primaryDark;
    opacity: 1;
  }

  .DownloadIconWrapper {
    color: $primaryBlue;
    :hover {
      color: $primaryDark;
    }
  }

  .AuditQuestions {
    &::-webkit-scrollbar {
      width: 0.375rem;
      height: 0.375rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $secondaryGray;
      border-radius: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background-color: $white;
    }

    margin-top: 0.625rem;
    height: 100%;
    overflow-x: auto;
    padding: 1rem;

    .marked-green {
      color: $primaryLight !important;
    }
    .marked-red {
      color: $secondaryRed !important;
    }
    .icon {
      height: 1.5rem;
      width: 1.3125rem;
    }
  }

  .CategoryNameWrapper {
    text-align: left;
    font-weight: $font-weight-bold;
    font-size: 1.5625rem;
    font-family: $default-font-name;
    letter-spacing: 0rem;
    color: $primaryDark;
    opacity: 1;
  }

  .QuestionAnswersWrapper {
    text-align: left;
    font-weight: $font-weight-normal;
    font-size: 1rem;
    font-family: $default-font-name;
    letter-spacing: 0rem;
    color: $primaryDark;
    opacity: 1;
  }

  .LoaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
  }

  // ==================== PreviousAuditDialogBox.tsx of Dashboard License ===================
  .TableContainerWrapper {
    min-height: 21.875rem;
  }

  .TitleTypography {
    width: auto;
  }

  .TableRowWrapper {
    border-bottom: 0.06875rem solid $primaryBlue;
  }

  .iconStyle {
    width: 3.3125rem;
    height: 2.5rem;
    font-size: 1.875rem;
  }

  .textStyle {
    color: $primaryBlue;
    font-weight: $font-weight-bold;
  }

  .hoverStyle {
    &:hover {
      color: $primaryBlue;
    }
    cursor: pointer;
  }

  .titleStyle {
    font-weight: $font-weight-bold;
  }

  .TableDiv {
    padding: 0.875rem;
  }

  .MainDivWrapper {
    padding: 3.75rem;
  }

  .TextDiv {
    padding: 1.25rem 1.8125rem 0;
  }

  .UnderAuditWrapper {
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .TitleWrapWithTooltip {
    width: auto;
    display: inline-block;
  }
  .DialogWrapper-auditReport {
    height: 100%;
    width: 85%;
    margin-left: 8rem;
    padding-top: 4rem;
  }

  .PreviousAuditDialogWrapper {
    height: 80%;
    width: 85%;
    margin-left: 8rem;
    padding-top: 4rem;
  }

  // ==================== AlertDialog.tsx of Dashboard License ===================
  .DialogWrapper {
    height: 100%;
    width: 100%;
    .dialogContent {
      margin: 1.875rem !important;
      justify-content: center;
      overflow-wrap: break-word;
      font-size: 1.5rem !important;
      text-align: center;
    }
  }

  .ButtonWrapper {
    margin: 0 auto;
    @media only screen and (min-width: 80rem) and (max-width: 93.6875rem) {
      max-width: 34.375rem;
    }
    @media (min-width: 93.75rem) {
      max-width: 61.0625rem;
    }
    .dialogActions {
      margin-bottom: 1.875rem;
    }
  }
  // ==================== AuditAleadyInProgessDialog.tsx of Dashboard License ===================
  .Dialog-Progress-Wrapper {
    height: 100%;
    width: 100%;
    .dialogContent {
      margin-top: 1.875rem !important;
      justify-content: center;
      overflow-wrap: break-word;
      font-size: 1.5rem !important;
      text-align: center;
    }
  }

  .Button-Progress-Wrapper {
    margin: 0 auto;
    margin-left: 4.375rem !important;
    margin-right: 4.375rem !important;
    @media only screen and (min-width: 80rem) and (max-width: 93.6875rem) {
      max-width: 34.375rem;
    }
    @media (min-width: 93.75rem) {
      max-width: 61.0625rem;
    }
    .dialogActions {
      margin-bottom: 1.875rem;
    }
  }

  .Button-Progress-Size {
    width: 9.375rem !important;
    margin-bottom: 3.125rem !important;
  }

  //============================index.tsx dashboard license =====================================
   .answer-allques-dialog
  {
    padding:3rem;
  }
  .answer-allques-dialog-title
  {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
  }
  .answer-allques-dialog button {
    width: 12rem;
  }
  .AddCircleOutlineIconWrapper {
    color: $primaryDark;
    cursor: pointer;
    width: 2.25rem !important;
    height: 2.25rem !important;
    :hover {
      color: $primaryBlue;
    }
  }

  .UnderReviewWrapper {
    font-size: 1.5625rem;
    color: $primaryDark;
    margin-bottom: 1.25rem;
    line-height: 1.875rem;
    font-weight: 600;
  }
  .MuiPaper-root.MuiTableContainer-root {
    @include x-scroll(00.675rem, 00.675rem);
  }
  .TableRowsWrapper {
    color: $primaryDark !important;
    line-height: 1.1875rem !important;
    white-space: nowrap;
  }

  .TableRowsWrapperBold {
    font-weight: 600 !important;
    color: $primaryDark !important;
    line-height: 1.1875rem !important;
  }

  .LicenseDetailWrapper {
    color: $primaryDark;
    font-weight: 600;
    cursor: pointer;
  }

  .AllLicenseContainer {
    min-width: 100%;
    width: 17.5rem;
    overflow-x: auto;
    opacity: 1;
    .TableContainerWrap {
      max-width: 480px;
      background-color: $white;
      box-shadow: 0px 0px 10px $shadow-black;
    }
    @include x-scroll(00.675rem, 00.675rem);
  }

  .AllLicenseTableHeaderWrapper {
    color: $primaryBlue !important;
    font-weight: 600 !important;
    white-space: nowrap;
    font-size: 1.25rem !important;
    overflow: hidden;
    line-height: 1.5rem !important;
    text-overflow: ellipsis;
  }

  .BottomDivWrapper {
    background-color: $primaryDark;
    text-align: right;
    color: white;
    padding-right: 1.25rem;
    cursor: pointer;
  }

  .LoaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
  }

  .AssignLicense {
    color: $primaryDark;
    font-weight: 600;
    cursor: pointer;
    &:hover {
      color: $primaryBlue;
      cursor: pointer;
    }
  }

  .CreateTask {
    color: $primaryDark;
    font-weight: 600;
    cursor: pointer;
    &:hover {
      color: $primaryBlue;
      cursor: pointer;
    }
  }

  .DialogTop {
    text-align: center;
    font-weight: bold !important;
    font-size: 0.625rem !important;
    color: $primaryDark !important;
  }

  .DialogContentWrapper {
    max-height: calc(120vh - 3.125rem);
    width: 37.5rem !important;
  }

  .NoLicensessText {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.25rem;
  }

  .close-assign-license {
    float: right;
    margin-top: 0.625rem;
    margin-right: 0.9375rem;
  }
  //============================License.tsx dashboard licenseForm =====================================
  .MainContainer-License {
    width: 100% !important;
  }
  .form-field-wrapper
  {
    margin-bottom: 0.9375rem;
  }
  &.form-container .input-form, .form-container .select-wrap, .form-container .input-text-overide-width
  {
        margin-bottom: 0;
  }

  .ButtonWrapper-license {
    margin: 0 auto;
    float: right;
    @media only screen and (min-width: 80rem) and (max-width: 93.688rem) {
      max-width: 34.375rem;
    }
    @media (min-width: 93.75rem) {
      max-width: 61.063rem;
    }
  }

  .CheckBoxWrapper-license {
    display: flex !important;
    flex-direction: column !important;
    @media only screen and (min-width: 80rem) and (max-width: 93.688rem) {
      display: block;
    }
    @media (min-width: 5.856rem) {
      display: flex;
    }
  }

  .LocationNameWrapper-lic {
    text-align: left;
    font: normal normal normal 1rem/1.188rem;
    letter-spacing: 0rem;
    color: $primaryDark;
    opacity: 1;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .text-box{
    margin-bottom: 1.25rem;
  }
  .text-box-align{
    padding-top: 0.09rem;
    background: $GrayLight;
    font-size: 1rem;
  }

  .HrLine-lic {
    border: 0.063rem solid $primaryBlue;
  }

  .SubmitButton-lic {
    margin-top: 1.25rem;
    margin-bottom: 1.75rem;
    width: 7.5rem;
    height: 3.125rem !important;
    font-size: 0.875rem !important;
  }

  .CheckBoxError-lic {
    font-size: 0.875rem;
    color: $error-text;
    margin-bottom: 0.313rem;
    padding-left: 0.875rem;
  }

  .DropDownError-lic {
    font-size: 0.875rem;
    color: $error-text;
    margin-top: -1rem;
    margin-bottom: 1rem;
    padding-left: 0.875rem;
    background-color: $secondaryGrayLight;
  }

  .organizationLocationNickName {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 12.5rem;
  }
  //============================ViewLicenseDetails.tsx dashboard licenseForm =====================================
  &.license-form-dialog .MuiDialog-container .MuiPaper-root.MuiPaper-elevation.MuiDialog-paperScrollPaper{
    max-width: 37.5rem;
    width: 100%;
  }
  .abovePanel-lic {
    height: 85px;
  }

  .row-paddinf-left {
    padding-left: 150px;
  }
  .AssignLicense-lic {
    color: $primaryDark;
    font-weight: 600;
    cursor: pointer;
    &:hover {
      color: $primaryBlue;
      cursor: pointer;
    }
  }

  .EditLicenseButtonEnabled-lic {
    color: $primaryDark;
    padding-right: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    &:hover {
      color: $primaryBlue;
      cursor: pointer;
    }
  }

  .EditLicenseButtonDisabled-lic {
    color: $primaryDark;
    padding-right: 1.5rem;
    font-weight: 600;
    &:hover {
      cursor: not-allowed !important;
    }
  }



  //look this issue
  .CloseDialog-lic {
    .close-assign-license {
      float: right !important;
      margin-top: 0.625rem;
      margin-right: 0.938rem;
    }
  }

  .DialogContentWrapper-lic {
    max-height: calc(100vh - 3.75rem);
    //width: 40.25rem !important;
  }

  .TextPinWrapper-lic {
    display: flex;
    z-index: 10;
    width: 100%;
    height: 12%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $primaryBlue;
  }

  .ToolTipDiv-lic {
    font-weight: 600;
  }

  .TextPin-lic {
    font: var(--unnamed-font-style-normal) normal medium 1.25rem/1.5rem
      var(--unnamed-font-family-urbanist);
    text-align: left;
    letter-spacing: 0rem;
    color: #ffffff;
    opacity: 1;
    margin: auto;
  }

  .LicenseDetailsWrapper-lic {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0rem 0rem 0.625rem $shadow-black;
    opacity: 1;
    margin-top: 1.25rem;
    width: 100%;
    height: auto;
    .license-grid {
      box-shadow: 0rem 0rem 0.625rem $shadow-black;
      opacity: 1;
      width: 94%;
      margin-top: 2%;
      margin-left: 3%;
      margin-right: 3%;
      background-color: $secondaryGrayLight;
    }
    .license-grid-row{
      padding: 1rem 0;
    }
    .self-audit-status {
      color: $primaryDark;
      margin-top: 1.438rem;
    }
    .disable-audit {
      color: $white;
      background: $secondaryGray 0% 0% no-repeat padding-box;
    }
    .enable-audit {
      color: $primaryDark;
      background: $primaryLight 0% 0% no-repeat padding-box;
      &:hover {
        background-color: $primaryDark;
        color: $white !important;
      }
    }
    .start-self-audit {
      float: right;
      width: 12.5rem;
      height: 3.188rem;
      margin-right: 2.813rem;
      margin-top: 1.563rem;
      text-align: center;
      cursor: pointer;
      box-shadow: 0rem 0rem 0.313rem #00000033;
      border-radius: 50rem;
      opacity: 1;
    }
  }

  .SubTitle-lic {
    color: $primaryDark;
    font-weight: bold !important;
    display: inline-block;
    padding-right: 0.625rem;
    margin-left: 2.5rem;
    margin-bottom: 0;
  }

  .RowWrapper-lic {
    text-align: left;
    font: normal normal normal 1rem/1.563rem;
    letter-spacing: 0rem;
    color: $primaryDark;
    opacity: 1;
    margin-left: 2.5rem;
    margin-bottom: 0;
  }

  .LicenseDetailsWrapper{
    margin-top: 2.188rem;
  }

  .LicenseDetails-lic {
    font-weight: 600;
    color: $primaryDark;
    margin-left: 2.188rem;
    margin-top: -2rem;
    font-size: 1.563rem;
  }

  .LinkWrapper-lic {
    font-weight: 600;
    color: $primaryDark;
    text-decoration: none;
    cursor: pointer;
    float: left;
    margin-left: 2.188rem;
    &:hover {
      color: $primaryBlue !important;
    }
  }

  .RowWrap-lic {
    display: inline-block;
    margin-bottom: 0;
  }

  .TitleWrapWithTooltip-lic {
    width: 43%;
    word-wrap: break-word;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .TitleWrap-lic {
    text-align: center;
    font-weight: bold !important;
    font-size: $popup-title-size;
    color: rgb(31, 52, 61) !important;
  }
  .TitleWrap-header-lic {
    text-align: center;
    font-weight: bold ;
    font-size: $popup-title-size;
    font-size: 35px;
    color: rgb(31, 52, 61);
  }
  .LoaderWrapper-lic {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
  }

  .HeadWrap-lic {
    div:nth-child(2) {
      margin-left: auto !important;
    }
  }

  .SectionWrapper-lic {
    width: 94%;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
  }

  .NoTaskDetails-lic {
    font-weight: 600;
    margin-left: 2.5rem;
    width: 50%;
  }

  .TableDataRow-lic {
    margin-left: 2.5rem;
    margin-top: 0.938rem;
    height: auto;
    margin-bottom: 0.938rem;
  }

  .TitleData-lic {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    height: 1.25rem;
  }

  .DataContainer-lic {
    margin-right: 0.313rem;
    box-shadow: 0rem 0rem 10rem $shadow-black;
    margin-top: 0.125rem;
    margin-left: 0.125rem;
    margin-bottom: 0.313rem;
  }

  .BackButtonWrapper-lic {
    text-align: left;
    font-weight: 600;
    letter-spacing: 0px;
    color: $primaryDark;
    opacity: 1;
    cursor: pointer;
  }

  .RowWrapWithTooltip-lic {
    width: 7.813rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .Grid-wrapper{
    margin: 2.125rem 0;
  }

  .TaskDetails-lic {
    font-weight: 600;
    color: $primaryDark;
    margin-left: 2.188rem;
    margin-top: -2rem;
    font-size: 1.563rem;
    margin-bottom: 0.938rem;
  }

  .DialogTop-lic {
    text-align: center;
    font-weight: bold !important;
    font-size: 1.25rem !important;
    color: $primaryDark !important;
  }

  .AllTaskContainer-lic {
    min-width: 100%;
    width: 17.5rem;
  }

  .DivTaskContainer-lic {
    width: 53%;
  }
  .ps5-lic {
    padding-left: 2.5rem !important;
  }
  .license-details-title {
    font-weight: 600;
    color: $primaryDark;
    margin-left: 2.188rem;
    margin-top: -2rem;
    font-size: 1.563rem;
    margin-bottom: 0.938rem;
  }

  .license-notification-container {
    .notification-table-container {
      height: 45vh;
      padding: 0rem 0.563rem;
      overflow-y: scroll;
    }
    .notification-table-container::-webkit-scrollbar {
      width: 0.625rem;
      height: 3.875rem;
    }
    .notification-table-container::-webkit-scrollbar-thumb {
      background-color: $secondaryGray;
      border-radius: 0.313rem;
    }
    .notification-table-container::-webkit-scrollbar-track {
      background-color: $secondaryGrayLight;
    }

    .notification-table-label-unread {
      color: $primaryBlue;
      font-size: 1rem !important;
      font-weight: bold !important;
      padding-right: 4%;
    }

    .notification-table-label-read {
      color: $Gray44;
      font-size: 1rem !important;
      font-weight: bold !important;
      padding-right: 4%;
    }

    .license-notification-text {
      font-family: $default-font-name !important;
      letter-spacing: 0.025rem;
      color: $primaryDark;
      font-weight: bold !important;
      flex: 1;
      display: flex;
      position: relative;
      width: 99%;
    }

    .license-notification-text-Ellipsis {
      white-space: nowrap !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      width: 100% !important;
    }

    .cancel-icon-container {
      color: $Gray44;
    }

    .bar {
      display: flex;
      height: 1.188rem;
      width: 100% !important;
      background: $secondaryGrayLight 0 0 no-repeat padding-box !important;
      border-radius: 0.313rem !important;
      margin-bottom: 0.75rem;
      padding: 2.375rem 1rem;
      box-shadow: 0 0 0.675rem $light-gray;
      flex-direction: row;
      align-content: center;
      align-items: center;
    }
    .bar:hover {
      background-color: $primaryBlue !important;
      cursor: pointer;
    }

    .bar:hover > * {
      color: $white !important;
      cursor: pointer;
    }
    .bar:hover div > * {
      color: $white !important;
      cursor: pointer;
    }
  }

  .notifications-details {
    &-dialog {
      width: 100%;
      border-radius: 0.313rem !important;
      box-shadow: 0 0 0.675rem 0.063rem $shadow-dark;
      background: $white 0 0 no-repeat padding-box !important;
      max-height: 45vh;
      height: max-content;
      display: flex;
      flex-direction: column;
      z-index: 2;
      position: absolute;
    }
    &-inner-wrapper {
      position: relative;
    }
    &-cross-btn-container {
      position: absolute;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    &-cross-btn {
      cursor: pointer;
      margin-top: 0.625rem;
      margin-right: 0.625rem;
      font-size: larger;
    }
    &-list {
      margin-top: 2.375rem;
      margin-left: 2rem;
      margin-right: 2rem;
    }
    &-desc::marker {
      color: $primaryBlue;
      font-size: 1.875rem;
    }
    &-title {
      font-size: 1.2rem;
      font-weight: 550;
      font-family: $default-font-name;
      letter-spacing: 0rem;
    }
    &-description-text {
      margin-top: 3%;
      font-size: 1rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      @supports (-webkit-line-clamp: 3) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }
    &-checkmarker-container {
      height: 3rem;
    }
    &-checkmarker {
      padding-left: 1rem;
      display: flex;
      justify-content: space-between;
    }
    &-bottom {
      margin-bottom: 1.375rem;
    }
    &-actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 1.1rem;
      padding-left: 1rem;

      .select-box-width {
        width: 12.5rem;
      }
      .input-placeholder {
        color: $secondaryGray;
        font-size: 1rem;
        font-weight: normal;
        opacity: 0.6;
      }
      &-no-ellipsis{
        white-space: nowrap;
      }
    }
  }

  //============================index.tsx dashboard license->Self Audit =====================================

  .CancelAuditButton {
    color: $black;
    font-weight: $font-weight-bold;
    cursor: pointer;
    &:hover {
      color: $primaryBlue;
    }
  }

  .QuestionsWrapper {
    height: 32.813rem;
    padding-left: 0.125rem;
    margin-top: 1.875rem;
    border-radius: 0.313rem;
    opacity: 1;
    overflow-y: auto;
    max-width: 100%;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 0.625rem;
      height: 3.875rem;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $gray-scroll;
      border-radius: 0.313rem;
    }
    &::-webkit-scrollbar-track {
      background-color: $secondaryGrayLight;
    }
  }

  .QuestionBlock {
    margin-top: 1.875rem;
    margin-left: 3.125rem;
    margin-right: 1.25rem;
    align-items: center;
  }

  .AnswerBlock {
    margin-left: 3.125rem;
  }

  .QuestionLabelBlock {
    margin-top: 1.25rem;
    margin-left: 3.125rem;
    align-items: center;
  }

  .NextButton {
    width: 9.375rem;
    height: 3.125rem !important;
    &:hover {
      background-color: $primaryDark !important;
    }
  }

  .SubmitButton {
    width: 9.375rem;
    height: 3.125rem !important;
    &:hover {
      background-color: $primaryDark !important;
    }
  }

  .SaveExitButton {
    width: 9.375rem;
    height: 3.125rem !important;
    border: 1px solid $primaryDark;
    color: $primaryDark;
    &:hover {
      border: 1px solid $primaryBlue;
      color: $primaryBlue;
    }
  }

  .InfoIconWrapper {
    align-items: center;
  }

  .LabelsWrapper {
    width: 100%;
  }

  .TextBoxWrapper {
    margin-right: 1.25rem;
  }

  .RadioButtonWrapper {
    align-self: end;
  }

  .BottomButtonsWrapper {
    margin-left: 0rem;
  }

  .NoQuestionsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
  }

  .CloseDialog {
    .close-info-modal {
      float: right;
      margin-top: 0.625rem;
      margin-right: 0.938rem;
    }
  }

  .SeeMoreWrapper {
    cursor: pointer;
  }

  .AnswerWrapper {
    min-width: fit-content;
  }

  .ActionWrapper {
    font-style: $font-weight-normal;
    font-weight: $font-weight-normal;
    font-size: $h5-font-size;
    line-height: 1.563rem;
    font-family: $default-font-name;
    text-align: left;
    letter-spacing: 0;
    color: $Gray44;
    opacity: 1;
  }

  .SubQuestionWrapper {
    margin-left: 4.375rem;
    margin-right: 4.063rem;
  }

  .SubAnswerWrapper {
    min-width: max-content;
  }

  .WrapperForDialogButton {
    margin-top: 3.125rem;
  }

  .ErrorWrapper {
    margin-left: 3.813rem;
    color: $secondaryRed;
    justify-content: end;
    margin-top: 0.625rem;
    margin-right: 0.625rem;
  }
  .selfaudit-title-wrap {
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .LabelButton {
    padding: 0.375rem 0.5rem;
    padding-bottom: 0;
    color: $primaryDark;
    &:hover {
      background-color: $white;
      color: $primaryBlue;
    }
  }

  .PerQuestionBlock {
    padding-bottom: 1.875rem;
    padding-top: 0.625rem;
    margin-top: 1.875rem;
    margin-right: 3.125rem;
    margin-bottom: 1.875rem;
    background: $white 0% 0% no-repeat padding-box;
    box-shadow: 0rem 0rem 0.625rem $shadow-black;
    opacity: 1;
  }

  .CustomTextField {
    &::-webkit-scrollbar {
      width: 0.625rem;
      height: 3.875rem;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $gray-scroll;
      border-radius: 0.313rem;
    }
    &::-webkit-scrollbar-track {
      background-color: $secondaryGrayLight;
    }
  }

  .enter-note {
    .MuiInputBase-input.MuiInput-input {
      margin-left: 0.6rem;
    }
  }

  //============================ pagination.tsx dashboard license->Self Audit =====================================

  .ProgressCircleWrapper {
    margin-left: 0rem;
  }
  .PaginationIconWrapper {
    margin-left: 0.75rem;
  }

  .CircleOutlined {
    color: $secondaryGray;
    font-size: 1.125rem;
    &:hover {
      color: $primaryBlue;
      cursor: pointer;
    }
  }

  .CircleRounded {
    color: $primaryBlue;
    font-size: 1.125rem;
  }

  //============================ progressBar.tsx dashboard license->Self Audit =====================================

  .ProgressBarWrapper {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .ProgressValuesWrapper {
    justify-content: center;
    width: 70%;
    margin-top: 0.625rem;
  }

  .ProgressBarBox {
    width: 70%;
    margin-top: 2.313rem;
    align-items: center;
  }

  .CategoryNameExitText {
    color: $gray-700;
    font-size: 1rem;
    font-weight: $font-weight-bold;
  }

  .AllQuestionsText {
    color: $primaryBlue;
    font-style: $font-weight-normal;
    font-weight: $font-weight-normal;
    line-height: 1.563rem;
    font-family: $default-font-name;
    font-size: 1rem;
  }

  //============================ SelfAuditCompleted.tsx dashboard license->Self Audit =====================================

  .InitialSetupWrapper {
    padding-top: 6.875rem !important;
    min-height: 20.688rem !important;
    background-color: $white;
    .complete-setup {
      width: 50%;
      align-self: center;
    }
  }

  .Heading {
    text-align: center;
    font-style: $font-weight-normal;
    font-weight: $font-weight-bold;
    font-variant: $font-weight-normal;
    font-size: 3rem;
    line-height: 3.75rem;
    font-family: $default-font-name;
    letter-spacing: 0px;
    color: $primaryDark;
    opacity: 1;
    margin-bottom: 1.25rem;
  }

  .Subheading {
    text-align: center;
    font-style: $font-weight-normal;
    font-variant: $font-weight-normal;
    font-weight: $font-weight-bold;
    font-size: $h4-font-size;
    line-height: 1.875rem;
    font-family: $default-font-name;
    letter-spacing: 0px;
    color: $primaryDark;
    opacity: 1;
    margin-bottom: 1.25rem;
  }

  .ButtonWrapper {
    align-self: center;
    .action-btn {
      width: 12.375rem !important;
      margin-left: 0.625rem !important;
    }
    .report-btn {
      color: $primaryDark;
      border-color: $primaryDark;
      &:hover {
        color: $primaryBlue;
        border-color: $primaryBlue;
      }
    }
  }
  .SeeLicenseDetailWrap {
    color: $primaryDark;
    font-weight: 600;
    cursor: pointer;
  }
  .mui-label-styling{
    .MuiFormControl-root .MuiInputLabel-root.MuiInputLabel-formControl.Mui-focused,
    .MuiFormControl-root .MuiInputLabel-root.MuiInputLabel-formControl.MuiFormLabel-filled {
      transform: translate(0.938rem, 0.125rem) scale(0.7);
    }
    .dateclasses{
      height: 3.7rem !important;
    }
  }
    .flex-container {
      display: flex;
    }

    .long-license-div {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  //Media query for License Details.
  @import "../mixins-media/mq-license";
}
