.icon-container {
    margin-top: 1.125rem;
    & .me-2 {
      margin-right: 0rem !important;
    }
    & .MuiBadge-badge {
      background-color: $primaryLight;
      top: 0.4rem;
    }
  
    .bellicon-style:hover {
      cursor: pointer;
    }
    .sop-margin {
      margin-left: 0rem !important;
    }
  }
  