.right-container {
  background-color: $white;
  height: 100%;
  min-height: 640px;
  color: $white;
  padding: 0% 20% 10% 20%;
  .logo {
    color: $primaryDark;
    text-align: center;
    padding-bottom: 30px;
  }
  .heading {
    background-color: $primaryDark;
    color: $white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    font-weight: 500;
  }
  .input-form::placeholder {
    color: $secondaryGray;
    font-size: 14px;
  }
  .input-form {
    background-color: $secondaryGrayLight !important;
    border-radius: 0px;
    border: none;
    margin-bottom: 15px;
    div::before {
      border-bottom: none !important;
    }
  }
  .required {
    color: $primaryBlue;
    font-size: 12px;
    font-weight: 600;
  }
  .forgot {
    color: $black;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
}
