@import "./breakpoints.scss";

@include media(">phone", "<=desktop") {
  .detail-page-text {
    display: none;
  }
  .TaskDetailWrapper {
    display: flex;
    justify-content: flex-end;
  }
  .select-container-width {
    width: 50%;
  }
}

@include media(">laptop", "<=desktop-xl") {
  .select-container-width {
    width: 50%;
  }
}
