@import "./breakpoints.scss";

@include media(">phone", "<=desktop") {
  .detail-page-text {
    display: none;
  }

  .SeeLocationDetailWrap {
    display: flex;
    justify-content: flex-end;
  }

  .MuiButtonBase-root.MuiButton-root:hover {
    background-color: $primaryDark;
  }
  .tablet-emp-number {
    display: flex;
  }
  .desktop-emp-number {
    display: none;
  }
  .select-container-width {
    width: 50%;
  }
}

@include media(">desktop") {
  .tablet-emp-number {
    display: none;
  }
  .desktop-emp-number {
    display: flex;
  }
}
